<% content_for :titlebar do %>
  <h1><%= link_to "Project #{project.name}", project_url(project) %> > People</h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>

<div class="search-bar">
  <%= form_tag project_people_url(project), :method => :get do %>
    <%= text_field_tag :query, pattern %> <%= submit_tag 'Search' %>
  <% end %>
</div>

<table class="grid">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% people.each do |person| %>
    <tr>
      <td><%= link_to person.full_name, project_person_url(project, person)  %></td>
      <td></td>
    </tr>
  <% end  %>
</table>