<h1>People</h1>

<div class="search-bar">
  <%= form_tag people_url, :method => :get do %>
    <%= text_field_tag :query, pattern %> <%= submit_tag 'Search' %>
  <% end %>
</div>

<%= link_to 'New Person', new_person_url %><br />

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
  </tr>
  <% people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.email %></td>
      <td><%= person.phone %></td>
      <td><%= link_to 'Show', person_url(person) %> | <%= link_to 'Edit', edit_person_url(person) %> | <%= link_to 'Delete', person_url(person), :method => :delete, :confirm => "Are you sure you want to delete #{person.full_name}?" %></td>
    </tr>
  <% end  %>
</table>