<% content_for :titlebar do %>
  <h1><%= link_to "Project #{project.name}", project_url(project) %>
    > <%= link_to "Submittals", project_submittals_url(project) %></h1>
  <div class="nav">

  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>

<%= form_for [project, submittal] do |f| %>
  <div class="fields">
    <%= f.label :project_requirement_id %>
    <%= f.collection_select(:project_requirement_id, project_requirements, :id, :name) %>
  </div>
  <div class="fields">
    <%= f.label :customer_document %>
    <%= f.file_field :customer_document %>
  </div>

  <div class="fields">
    <label for="">Documents</label>

    <div id="documents">
    </div>
  </div>
  <div class="buttons">
    <%= f.submit submittal.new_record? ? "Create" : "Update" %>
  </div>
<% end %>

<script>
  $(function () {
    $("#submittal_project_requirement_id").change(function () {
      populate_documents_by_project_requirement($(this).val());
    });

    populate_documents_by_project_requirement($("#submittal_project_requirement_id").val());

  });

  function populate_documents_by_project_requirement(id) {
    $.get("<%= by_requirement_project_documents_url(project)%>.json", {project_requirement_id:id}, function (data) {
      var documents = $("#documents");
      documents.empty();
      $.each(data, function (index, value) {
        documents.append('<div><input type="checkbox" name="submittal[document_ids][]" value="' + value.id + '" />' + value.name + '</div>')
      });
    });
  }
</script>