<% content_for :titlebar do %>
  <h1><%= link_to "Projects", company_admin_projects_url %> > Pre-Requisites</h1>
  <div class="nav">
    <%= link_to "New Pre-Requisite", new_company_admin_project_prerequisite_url(project) %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "company_admin/projects/project_sidebar" %>
<% end %>


<h1>Project <%= project.name %> Pre-Requisites</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% prerequisites.each do |prereq| %>
    <tr>
      <td><%= prereq.name %></td>
      <td><%= link_to "Edit", edit_company_admin_project_prerequisite_url(project, prereq) %> <%= link_to "Delete", company_admin_project_prerequisite_url(project, prereq), :method => :delete, :confirm => "Are you sure you want to delete #{prereq.name}?" %></td>
    </tr>
  <% end  %>
</table>