<h2><%= current_user.company.name %> Setup</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Customers", company_admin_customers_url %></li>
    <li><%= link_to "People", company_admin_people_url %></li>
  </ul>
</div>
<h2>Project</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Projects", company_admin_projects_url %></li>
    <li><%= link_to "Project Types", company_admin_project_types_url %></li>
  </ul>
</div>

