<%= form_for project do |f| %>
  <div class="fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="fields">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="fields">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>

  <%= render :partial => 'shared/custom_fields' %>
  
  <div class="buttons">
    <%= f.submit project.new_record? ? "Create" : "Update" %> <%= link_to "Cancel", projects_url %>
  </div>
<% end  %>