<h2>Project Links</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Documents", project_documents_url(project) %></li>
    <li><%= link_to "Material Types", project_material_types_url(project) %></li>
    <li><%= link_to "Materials", project_materials_url(project) %></li>
    <li><%= link_to "Bill of Materials", project_material_lists_url(project) %></li>
  </ul>
</div>

<h2>Logs</h2>
<div class="sidebar-section">
  <ul>
    <li><%= link_to "Submittal Logs", project_submittals_url(project) %></li>
  </ul>
</div>

<h2>Settings</h2>
<div class="sidebar-section">
  <ul> 
    <li><%= link_to "Manage Project",  company_admin_project_url(project)  %></li>
    <li><a href="#">Statuses</a></li>
  </ul>
</div>