<%= form_for [project, material_type], :validate => true do |f| %>
  <%= f.error_messages %>
  <div class="fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="fields">
    <%= f.label :heat_number %>
    <%= f.text_field :heat_number %>
  </div>
  <div class="fields">
    <%= f.label :astm_number %>
    <%= f.text_field :astm_number %>
  </div>
  <div class="fields">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="buttons">
    <%= f.hidden_field :company_id, :value => company.id.to_s %>
    <%= f.submit material_type.new_record? ? "Create" : "Update" %> <%= link_to "Cancel", project_material_types_url(project) %>
  </div>
<% end %>