<% content_for :titlebar do %>
  <h1><%= link_to "Project #{project.name}", project_url(project) %> > <%= link_to "Bill of Materials", project_material_lists_url(project) %></h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>

<h1>Update Material</h1>
<%= form_for [project, material_list], :validate => true  do  |f| %>
  <%= f.error_messages %>

  <div class="fields">
    <%= f.label :document_id %>
    <%= f.collection_select :document_id, documents, :id, :name %>
  </div>
  <%= f.fields_for :material, material_list.material  do |mf| %>
    <%= mf.error_messages %>
    <div class="fields">
      <%= mf.label :material_type_id %>
      <%= mf.collection_select :material_type_id, material_types, :id, :name %>
    </div>
    <div class="fields">
      <%= mf.label :item_number %>
      <%= mf.text_field :item_number %>
    </div>
    <div class="fields">
      <%= mf.label :quantity %>
      <%= mf.text_field :quantity %>
    </div>
    <%= mf.hidden_field :material_status_id, :value => material_status.id %>
    <%= mf.hidden_field :project_id, :value => project.id %>
  <% end %>

  <div class="buttons">
    <%= f.submit material_list.new_record? ? "Create" : "Update" %>
    <%= link_to "Cancel", project_material_lists_url(project) %>
  </div>
<% end %>