<% content_for :titlebar do %>
  <h1><%= link_to "Project #{project.name}", project_url(project) %> > Bill of Materials</h1>
  <div class="nav">
    <%= link_to "New Bill Of Materials", new_project_material_list_url(project) %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>


<table>
  <tr>
    <th>Line Number</th>
    <th>Material</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  <% documents.each do |document| %>
    <tr style="background:#cdcdcd;">
      <td colspan="4">Drawing:  <%= link_to document.name, project_document_url(project, document) %></td>
    </tr>
    
    <% material_lists.where(document_id: document).joins(:material).order('item_number ASC').each do |material_list| %>
      <tr>
        <td><%= material_list.material.item_number %></td>
        <td><%= material_list.material.material_type.name %></td>
        <td><%= material_list.material.quantity %></td>
        <td><%= link_to 'Edit', edit_project_material_list_url(project, material_list) %> | <%= link_to 'Delete', project_material_list_url(project, material_list), :method => :delete, :confirm => "Are you sure you want to delete #{material_list.material.material_type.name}?" %></td>
      </tr>
    <% end %>
  <% end %>
</table>



<script>

</script>