<%= form_for [:company_admin, role] do |f| %>
    <div class="fields">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div id="users_table" >
      <%= f.label :users_field, "Username" %>
    </div>

      <script>
        $("#users_table").completable_table({
            url:function() {
                return "<%= url %>";
            },
            id:"users_field",
            heading:["username"],
            search:"username",
            values: <%= raw(role.users.map{|x| {:id => x.id, :username => x.username}}.to_json) %>
        })
      </script>



    <div class="buttons">
      <%= f.submit role.new_record? ? "Create" : "Update" %> <%= link_to "Cancel", company_admin_roles_url %>
    </div>
<% end  %>

