<%= form_for material do |f| %>
  <div class="fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="fields">
    <%= f.label :heat_number %>
    <%= f.text_field :heat_number %>
  </div>
  <div class="fields">
    <%= f.label :n_number %>
    <%= f.text_field :n_number %>
  </div>
  <div class="fields">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="buttons">
    <%= f.submit material.new_record? ? "Create" : "Update" %> <%= link_to 'Cancel', materials_url %>
  </div>
<% end %>