<h1>Materials</h1>

<div class="search-bar">
  <%= form_tag materials_url, :method => :get do %>
    <%= text_field_tag :query, pattern %> <%= submit_tag 'Search' %>
  <% end %>
</div>

<%= link_to 'New Material', new_material_url %><br />

<table>
  <tr>
    <th>Name</th>
    <th>Heat Number</th>
    <th>N Number</th>
    <th>Predecessors</th>
    <th></th>
  </tr>
  <% materials.each do |material| %>
    <tr>
      <td><%= material.name %></td>
      <td><%= material.heat_number %></td>
      <td><%= material.n_number %></td>
      <td>
      <table>
        <% material.predecessors.each do |predecessor| %>
            <tr><%= predecessor.name %></tr>
        <% end  %>
      </table>
      </td>
      <td><%= link_to 'Show', material_url(material) %> | <%= link_to 'Edit', edit_material_url(material) %> | <%= link_to 'Delete', material_url(material), :method => :delete, :confirm => "Are you sure you want to delete #{material.name}?" %></td>
    </tr>
  <% end  %>
</table>