<% content_for :titlebar do %>
  <h1><%= link_to "Project #{project.name}", project_url(project) %> > Materials</h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>

<h1>Materials for <%= project.name %></h1>

<table class="grid">
  <tr>
    <th>Name</th>
    <th>Document</th>
    <th>Status</th>
    <th>Heat Number</th>
    <th>Quantity</th>
    <th></th>
  </tr>

  <% material_lists.each do |material_list| %>
    <tr>
      <td><%= link_to material_list.material.material_type.name, project_material_url(project, material_list.material) %></td>
      <td><%= link_to material_list.document.name, project_material_url(project, material_list.document) %></td>
      <td><%= material_list.material.material_status.name %></td>
      <td><%= material_list.material.material_type.heat_number %></td>
      <td><%= material_list.material.quantity %></td>
      <td></td>
    </tr>
  <% end %>
</table>