<% content_for :titlebar do %>
  <h1><%= link_to "Project #{project.name}", project_url(project) %>
    > <%= link_to "Materials", project_materials_url(project) %> > <%= material.name %></h1>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/project_sidebar' %>
<% end %>

<div class="material">
  <h1>
    <%= material.name %>
  </h1>


</div>
