<!DOCTYPE html>
<html>
<head>
  <title>nSpeed</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" %>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/2.9.0/build/base/base-min.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'flash' %>
<% end %>

<header>
  <div class="logo"><%= link_to image_tag("logo.png"), root_url, :class => "no-background" %></div>
  <div class="projects-dropdown">
    <select id="projects">
      <option value="">Select a Project</option>
      <optgroup label="<%= current_user.company.name %> Projects">
        <% current_user.company.projects.each do |project| %>
          <option value="<%= project.id %>"><%= project.name %></option>
        <% end %>
      </optgroup>
      <optgroup label="Shared Projects">
      </optgroup>
    </select>
  </div>
  <div class="navigation">
    <ul>
      <li><%= link_to 'Dashboard', root_url %></li>
      <li><a href="#">Settings</a>
        <div class="submenu">
          <div class="submenu-section">
            <h3>Account Settings</h3>
          </div>
          <div class="submenu-section">
            <h3>System Settings</h3>
            <ul>
              <li><%= link_to "Manage #{current_user.company.name}", company_admin_dashboard_url %></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </li>
    </ul>
  </div>
</header>

<article>
  <table class="main-layout">
    <tr>
      <td class="left-layout">
        <div class="left-layout-title"><%= yield :titlebar %></div>
        <div class="left-layout-container"><%= yield %></div>
      </td>
      <td class="right-layout">
        <div class="right-layout-container"><%= yield :sidebar %></div>
      </td>
    </tr>
  </table>
</article>

<script>
  $(function() {
    $("#projects").change(function() {
      var option = $(this);
      if (option.val() !== null && option.val().length > 0) {
        window.location = "/projects/" + option.val();
      }
    });
    $('.flash').delay(2000).slideUp();
    $('.modal').jqm({modal: true});
  });
</script>
<%= yield :javascript %>
</body>
</html>
