<!DOCTYPE html>
<html>
<head>
  <title>nSpeed</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'flash' %>
<% end %>

<header>
  <div class="logo">nSpeed</div>
  <div class="projects-dropdown">
    <select>
      <option>Select a Project</option>
    </select>
  </div>
  <nav>
    <%= link_to 'Dashboard', root_url %>
  </nav>
</header>

<section>
  <%= yield %>
</section>

<footer>
  
</footer>
<script>
  $(function(){
  });
</script>
<%= yield :javascript %>
</body>
</html>
