<!DOCTYPE html>
<html>
<head>
  <title>nSpeed</title>

  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" %>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/2.9.0/build/base/base-min.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="login-body">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'flash' %>
<% end %>
<div class="login">
  <%= yield %>
</div>
<%= yield :javascript %>
</body>
</html>
